.mailboxBtn {
	width: 702upx;
	height: 70upx;
	/* background: var(--cart-btn); */
	border: 1upx solid #E2E2E2;
	border-radius: 35upx;
	display: flex;
	margin: 90upx auto 0upx;
}

.cancelBtn {
	width: 350upx;
	height: 68upx;
	background: #FFFFFF;
	border: 1upx solid #E2E2E2;
	border-radius: 35upx 0upx 35upx 35upx;
	line-height: 68upx;
	text-align: center;
	/* color: var(--personal-color); */
}

.sureBtn {
	width: 350upx;
	text-align: center;
	line-height: 70upx;
	color: #fff;
}
