	page {
		background: #FFFFFF;
		/* background-image: var(--edit-pass); */
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	
	.password_welcome {
				font-size: 46upx;
				font-family: PingFang SC;
				font-weight: 800;
				/* color: var(--prodcut-text) ; */
				line-height: 21upx;
				margin-top: 20upx;
			}
			.password_btn {
				width: 600upx;
				height: 80upx;
				/* background: var(--cart-btn); */
				border-radius: 40upx;
				text-align: center;
				// line-height: 70upx;
				font-size: 30upx;
				font-family: PingFang SC;
				font-weight: bold;
				color: #FFFFFF;
				line-height: 80upx;
				margin-top: 70upx;
				margin-left: 75upx;
			}
			button {
				/* color: var(--prodcut-text); */
			}