.contentHeader {
	/* background-image: var(--index-background); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.title {
	font-size: 32upx;
	font-family: PingFang SC;
	font-weight: bold;
	/* color: var(--index-title); */
	display:inline;
}

.notice_content_one {
	width: 83upx;
	height: 70upx;
	/* background: var(--index-notice); */
	overflow: hidden;
	border-radius: 10upx;
}

.images {
	width: 40upx;
	height: 40upx;
	margin-top: 16upx;
	margin-left: 22upx;
	border-radius: 10upx;
	/* background-image: var(--index-img); */
	background-size: 100% 100%;
}

.tel_number {
	font-size: 32upx;
	font-family: PingFang SC;
	font-weight: 500;
	/* color: var(--prodcut-text); */
	line-height: 34upx;
	margin-top: 29upx;
}

.cal {
	width: 277upx;
	height: 106upx;
	text-align: center;
	line-height: 106upx;
	font-size: 28upx;
	font-family: PingFang SC;
	font-weight: 500;
	/* color: var(--prodcut-text); */
}

.popoutBtn {
	margin: 60upx auto 0;
	width: 478upx;
	height: 70upx;
	/* background: var(--color-blue); */
	border-radius: 35upx;
	text-align: center;
	line-height: 70upx;
	font-size: 28upx;
	font-family: PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
	margin-bottom: 100upx;
}